EzEventParkingServer/xml-resources/web-service-references/LocationWS_1/wsdl/localhost_8080/EzEventParkingWS/LocationWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.ezeventparking/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.ezeventparking/">

<xs:element name="AddLocation" type="tns:AddLocation"/>

<xs:element name="AddLocationResponse" type="tns:AddLocationResponse"/>

<xs:element name="GetAllLocation" type="tns:GetAllLocation"/>

<xs:element name="GetAllLocationResponse" type="tns:GetAllLocationResponse"/>

<xs:complexType name="GetAllLocation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllLocationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddLocation">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddLocationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>