EzEventParkingServer/xml-resources/web-service-references/ParkingTicketWS/wsdl/localhost_8080/EzEventParkingWS/ParkingTicketWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ezeventparking/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ezeventparking/" name="ParkingTicketWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ezeventparking/" schemaLocation="http://localhost:8080/EzEventParkingWS/ParkingTicketWS?xsd=1"/>
</xsd:schema>
</types>
<message name="GetAllUserTicket">
<part name="parameters" element="tns:GetAllUserTicket"/>
</message>
<message name="GetAllUserTicketResponse">
<part name="parameters" element="tns:GetAllUserTicketResponse"/>
</message>
<message name="GetOccupiedSlot">
<part name="parameters" element="tns:GetOccupiedSlot"/>
</message>
<message name="GetOccupiedSlotResponse">
<part name="parameters" element="tns:GetOccupiedSlotResponse"/>
</message>
<message name="BuyParkingTicket">
<part name="parameters" element="tns:BuyParkingTicket"/>
</message>
<message name="BuyParkingTicketResponse">
<part name="parameters" element="tns:BuyParkingTicketResponse"/>
</message>
<message name="GetAllParkingTicket">
<part name="parameters" element="tns:GetAllParkingTicket"/>
</message>
<message name="GetAllParkingTicketResponse">
<part name="parameters" element="tns:GetAllParkingTicketResponse"/>
</message>
<portType name="ParkingTicketWS">
<operation name="GetAllUserTicket">
<input wsam:Action="http://services.ezeventparking/ParkingTicketWS/GetAllUserTicketRequest" message="tns:GetAllUserTicket"/>
<output wsam:Action="http://services.ezeventparking/ParkingTicketWS/GetAllUserTicketResponse" message="tns:GetAllUserTicketResponse"/>
</operation>
<operation name="GetOccupiedSlot">
<input wsam:Action="http://services.ezeventparking/ParkingTicketWS/GetOccupiedSlotRequest" message="tns:GetOccupiedSlot"/>
<output wsam:Action="http://services.ezeventparking/ParkingTicketWS/GetOccupiedSlotResponse" message="tns:GetOccupiedSlotResponse"/>
</operation>
<operation name="BuyParkingTicket">
<input wsam:Action="http://services.ezeventparking/ParkingTicketWS/BuyParkingTicketRequest" message="tns:BuyParkingTicket"/>
<output wsam:Action="http://services.ezeventparking/ParkingTicketWS/BuyParkingTicketResponse" message="tns:BuyParkingTicketResponse"/>
</operation>
<operation name="GetAllParkingTicket">
<input wsam:Action="http://services.ezeventparking/ParkingTicketWS/GetAllParkingTicketRequest" message="tns:GetAllParkingTicket"/>
<output wsam:Action="http://services.ezeventparking/ParkingTicketWS/GetAllParkingTicketResponse" message="tns:GetAllParkingTicketResponse"/>
</operation>
</portType>
<binding name="ParkingTicketWSPortBinding" type="tns:ParkingTicketWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetAllUserTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetOccupiedSlot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuyParkingTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAllParkingTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ParkingTicketWS">
<port name="ParkingTicketWSPort" binding="tns:ParkingTicketWSPortBinding">
<soap:address location="http://localhost:8080/EzEventParkingWS/ParkingTicketWS"/>
</port>
</service>
</definitions>