EzEventParkingServer/xml-resources/web-service-references/EventReservationWS/wsdl/192.168.43.141_8080/EzEventParkingWS/EventReservationWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ezeventparking/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ezeventparking/" name="EventReservationWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ezeventparking/" schemaLocation="http://192.168.43.141:8080/EzEventParkingWS/EventReservationWS?xsd=1"/>
</xsd:schema>
</types>
<message name="GetAllEventReservation">
<part name="parameters" element="tns:GetAllEventReservation"/>
</message>
<message name="GetAllEventReservationResponse">
<part name="parameters" element="tns:GetAllEventReservationResponse"/>
</message>
<message name="BuyEventReservation">
<part name="parameters" element="tns:BuyEventReservation"/>
</message>
<message name="BuyEventReservationResponse">
<part name="parameters" element="tns:BuyEventReservationResponse"/>
</message>
<message name="GetAllUserReservation">
<part name="parameters" element="tns:GetAllUserReservation"/>
</message>
<message name="GetAllUserReservationResponse">
<part name="parameters" element="tns:GetAllUserReservationResponse"/>
</message>
<message name="ClaimReservation">
<part name="parameters" element="tns:ClaimReservation"/>
</message>
<message name="ClaimReservationResponse">
<part name="parameters" element="tns:ClaimReservationResponse"/>
</message>
<portType name="EventReservationWS">
<operation name="GetAllEventReservation">
<input wsam:Action="http://services.ezeventparking/EventReservationWS/GetAllEventReservationRequest" message="tns:GetAllEventReservation"/>
<output wsam:Action="http://services.ezeventparking/EventReservationWS/GetAllEventReservationResponse" message="tns:GetAllEventReservationResponse"/>
</operation>
<operation name="BuyEventReservation">
<input wsam:Action="http://services.ezeventparking/EventReservationWS/BuyEventReservationRequest" message="tns:BuyEventReservation"/>
<output wsam:Action="http://services.ezeventparking/EventReservationWS/BuyEventReservationResponse" message="tns:BuyEventReservationResponse"/>
</operation>
<operation name="GetAllUserReservation">
<input wsam:Action="http://services.ezeventparking/EventReservationWS/GetAllUserReservationRequest" message="tns:GetAllUserReservation"/>
<output wsam:Action="http://services.ezeventparking/EventReservationWS/GetAllUserReservationResponse" message="tns:GetAllUserReservationResponse"/>
</operation>
<operation name="ClaimReservation">
<input wsam:Action="http://services.ezeventparking/EventReservationWS/ClaimReservationRequest" message="tns:ClaimReservation"/>
<output wsam:Action="http://services.ezeventparking/EventReservationWS/ClaimReservationResponse" message="tns:ClaimReservationResponse"/>
</operation>
</portType>
<binding name="EventReservationWSPortBinding" type="tns:EventReservationWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetAllEventReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuyEventReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAllUserReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ClaimReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EventReservationWS">
<port name="EventReservationWSPort" binding="tns:EventReservationWSPortBinding">
<soap:address location="http://192.168.43.141:8080/EzEventParkingWS/EventReservationWS"/>
</port>
</service>
</definitions>