EzEventParkingServer/xml-resources/web-service-references/EventWS/wsdl/localhost_8080/EzEventParkingWS/EventWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.ezeventparking/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.ezeventparking/">

<xs:element name="AddEvent" type="tns:AddEvent"/>

<xs:element name="AddEventResponse" type="tns:AddEventResponse"/>

<xs:element name="GetAllEvent" type="tns:GetAllEvent"/>

<xs:element name="GetAllEventResponse" type="tns:GetAllEventResponse"/>

<xs:complexType name="GetAllEvent">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllEventResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddEvent">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="locationID" type="xs:int"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddEventResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>