EzEventParkingServer/xml-resources/web-service-references/ParkingLotWS/wsdl/localhost_8080/EzEventParkingWS/ParkingLotWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.ezeventparking/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.ezeventparking/">

<xs:element name="AddParkingLot" type="tns:AddParkingLot"/>

<xs:element name="AddParkingLotResponse" type="tns:AddParkingLotResponse"/>

<xs:element name="GetAllParkingLot" type="tns:GetAllParkingLot"/>

<xs:element name="GetAllParkingLotResponse" type="tns:GetAllParkingLotResponse"/>

<xs:complexType name="AddParkingLot">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="location_id" type="xs:int"/>
<xs:element name="capacity" type="xs:int"/>
<xs:element name="price" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddParkingLotResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllParkingLot">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllParkingLotResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>