EzEventParkingServer/src/META-INF/wsdl/localhost_8080/EzEventParkingWS/EventReservationWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.ezeventparking/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.ezeventparking/">

<xs:element name="BuyEventReservation" type="tns:BuyEventReservation"/>

<xs:element name="BuyEventReservationResponse" type="tns:BuyEventReservationResponse"/>

<xs:element name="ClaimReservation" type="tns:ClaimReservation"/>

<xs:element name="ClaimReservationResponse" type="tns:ClaimReservationResponse"/>

<xs:element name="GetAllEventReservation" type="tns:GetAllEventReservation"/>

<xs:element name="GetAllEventReservationResponse" type="tns:GetAllEventReservationResponse"/>

<xs:element name="GetAllUserReservation" type="tns:GetAllUserReservation"/>

<xs:element name="GetAllUserReservationResponse" type="tns:GetAllUserReservationResponse"/>

<xs:complexType name="BuyEventReservation">
<xs:sequence>
<xs:element name="userID" type="xs:int"/>
<xs:element name="eventID" type="xs:int"/>
<xs:element name="reservationDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuyEventReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllUserReservation">
<xs:sequence>
<xs:element name="userID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllUserReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClaimReservation">
<xs:sequence>
<xs:element name="userID" type="xs:int"/>
<xs:element name="eventID" type="xs:int"/>
<xs:element name="claimDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClaimReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllEventReservation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllEventReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>