EzEventParkingServer/src/META-INF/wsdl/localhost_8080/EzEventParkingWS/EventReservationWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ezeventparking/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ezeventparking/" name="EventReservationWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ezeventparking/" schemaLocation="http://localhost:8080/EzEventParkingWS/EventReservationWS?xsd=1"/>
</xsd:schema>
</types>
<message name="GetAllUserReservation">
<part name="parameters" element="tns:GetAllUserReservation"/>
</message>
<message name="GetAllUserReservationResponse">
<part name="parameters" element="tns:GetAllUserReservationResponse"/>
</message>
<message name="BuyEventReservation">
<part name="parameters" element="tns:BuyEventReservation"/>
</message>
<message name="BuyEventReservationResponse">
<part name="parameters" element="tns:BuyEventReservationResponse"/>
</message>
<message name="GetAllEventReservation">
<part name="parameters" element="tns:GetAllEventReservation"/>
</message>
<message name="GetAllEventReservationResponse">
<part name="parameters" element="tns:GetAllEventReservationResponse"/>
</message>
<portType name="EventReservationWS">
<operation name="GetAllUserReservation">
<input wsam:Action="http://services.ezeventparking/EventReservationWS/GetAllUserReservationRequest" message="tns:GetAllUserReservation"/>
<output wsam:Action="http://services.ezeventparking/EventReservationWS/GetAllUserReservationResponse" message="tns:GetAllUserReservationResponse"/>
</operation>
<operation name="BuyEventReservation">
<input wsam:Action="http://services.ezeventparking/EventReservationWS/BuyEventReservationRequest" message="tns:BuyEventReservation"/>
<output wsam:Action="http://services.ezeventparking/EventReservationWS/BuyEventReservationResponse" message="tns:BuyEventReservationResponse"/>
</operation>
<operation name="GetAllEventReservation">
<input wsam:Action="http://services.ezeventparking/EventReservationWS/GetAllEventReservationRequest" message="tns:GetAllEventReservation"/>
<output wsam:Action="http://services.ezeventparking/EventReservationWS/GetAllEventReservationResponse" message="tns:GetAllEventReservationResponse"/>
</operation>
</portType>
<binding name="EventReservationWSPortBinding" type="tns:EventReservationWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetAllUserReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuyEventReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAllEventReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EventReservationWS">
<port name="EventReservationWSPort" binding="tns:EventReservationWSPortBinding">
<soap:address location="http://localhost:8080/EzEventParkingWS/EventReservationWS"/>
</port>
</service>
</definitions>